{% extends 'master.html' %}
{% load static %}

{% block title %}
contact page
{% endblock %}
{% block content %}

<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="inbox head">
                    <!-- <img src="{% static 'con.jpg' %}" alt="" width="100%"> -->
                    <h2 class="text"> CONTACT US</h2>
                </div>

            </div>
        </div>
    </div>

</section>
<section>
    <div class="container-fluid">
        <div class="row ">
            <div class="col-sm-12 col-lg-6 col-xl-6 text-center p-4">
                <h6 class="text-uppercase mb-4 font-weight-bold">
                  HEAD OFFICE
                </h6>
                <p>
                  <i class="bi bi-house-door-fill"></i> New York, NY 10012, US
                </p>
                <h6 class="text-uppercase mb-4 font-weight-bold">
                  BRANCH OFFICE
                </h6>
                <p>
                  Bengaluru City | Silicon Valley of India | karnataka 
   
                </p>
              </div>
            <div class="col-sm-12 col-lg-6 col-xl-6 ">
                <form action="/contact"  method="post">
                    {% csrf_token %}
                    <div class="mb-3 mt-3">
                        <label for="text" > Name </label>
                        
                    <input type="text" class="form-control" id="name" name="contact_name" placeholder="Enter name">
                
                    </div>
                    <div class="mb-3 mt-3">
                        <label for="email">Email</label>
                        
                    <input type="email" class="form-control" id="email" name="contact_email" placeholder="Enter email">
                
                    </div>
                    <div class="mb-3 mt-3">
                        <label for="msg">Message</label>
                        <textarea  class="form-control" id="msg" name="contact_message" placeholder="Enter message" ></textarea>
                        
                     </div>
                     <button type="submit" class="btn btn-warning">submit</button>
                </form>
            </div>
          
        </div>
    </div>
</section>

<section>
    <div class="containeer">
        <div class="row p-4">
            <div class="col">
                <div class="innerbox">
                    <div class="mb-5 ">
                        <iframe style="width: 100%; height: 400px;" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" allowfullscreen=""></iframe>
                      </div><!-- End Google Maps -->

                    
              
                </div>
            </div>
        </div>
    </div>
</section>


{% include 'footer.html' %}
{% endblock %}