{% extends 'master.html' %}
{% load static %}

{% block title %}
course page
{% endblock %}
{% block content %}
<section>
    <div class="container">
        <div class="row p-4" >
            {% for x in course %}
            <div class="col-sm-6">
                
                <div class="inbox">
                    <img src="/media/{{ x.cou_image }}" alt="" width="100%">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="inbox">
                   <h5>Course Name: {{x.cou_name }}</h5>
                   <h5>Course Detail: {{ x.cou_text }}</h5>
                   <h5>Course Price: {{ x.cou_price }}</h5>
                   <p> Course Description:{{ x.cou_descri }} </p>
                </div>
            </div>
        </div>
        <div class="text-center">
            <a href="/checkout/{{x.id}}" > <button class="btn btn-warning" type="submit" > BOOK NOW</button></a>
            <a href="/addtowish/{{x.id}}"><button class="btn btn-warning"><i class="bi bi-heart"></i></button></a>
        </div>
       
        {% endfor %}
    </div>
</section>

{% include 'footer.html' %}
{% endblock %}