{% extends 'master.html' %}
{% load static %}

{% block title %}
services page
{% endblock %}
{% block content %}

<section>
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-sm-12 ">
                <div class="ser1 text-center">
                    
                    <img src="{% static 'services.svg' %}" alt="" width="100%"> 
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-sm-12 ">
                <div class="ser2 ">
                    <h4 >Technology offers opportunities to be involved in the learning experience.</h4>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="ser3">
                    At Study Sphere, we are dedicated to transforming education and empowering learners of all ages to reach their full potential. Whether you are a student seeking academic excellence, a professional aiming to advance your career, or a lifelong learner with a passion for new knowledge, our tailored educational services are designed to meet your unique needs.
                </div>

            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-sm-12">
                <div class="ser4 text-center">
                    <h4>Customer Support</h4>
                    <p>Phone: +1 202 555 0123</p>
                    <p>Email: info@studysphere.com</p>
                    <p>Support Hours:24/7 Hours</p>
                        
                    
                        
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-sm-12">
                <div class="ser4 text-center">
                        <h4>Technical Support</h4>
                        
                            <p>Email: techsupport@studysphere.com</p>
                            <p>Phone: +1 202 555 0123</p>
                            <p>Support Hours:24/7 Hours</p>
                        
                </div>
            </div>
        </div>
    </div>
</section>


<section>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="ser5 p-4">
                
                <h4 class="text-center">Why Choose Us?</h4>
                
                    <p>Expert Instructors: Our team of highly qualified educators and industry professionals brings a wealth of knowledge and experience.</p>
                    <p>Tailored Approach: We understand that each learner is unique, and we customize our services to fit your specific needs and goals.</p>
                    <p>Proven Results: Our track record of success speaks for itself, with numerous students and professionals achieving their educational and career objectives</p>
                    <p>Supportive Environment: We foster a positive and encouraging atmosphere to help you stay motivated and engaged in your learning journey.</p>
                </div>  
            </div>
            
        </div>
    </div>
</section>


{% include 'footer.html' %}
{% endblock %}